- var siteNavigation = [{linkUrl: "#home", activeClass: "site-navigation__link--active", linkName: "Home"},{linkUrl: "#about", linkName: "About"},{linkUrl: "#services", linkName: "Services"},{linkUrl: "#works", linkName: "Works"},{linkUrl: "#blogs", linkName: "Blogs"},{linkUrl: "#contact", linkName: "Contact"}];
- var headerSocials = [{socialLink: "#", socialTitle: "I'm in Behance", socialIcon: "img/behance-ic.svg"},{socialLink: "#", socialTitle: "I'm in Dribbble", socialIcon: "img/dribbble-ic.svg"},{socialLink: "#", socialTitle: "I'm in LinkedIn", socialIcon: "img/linkedin-ic.svg"}];
