:root {
  --width-header: 285px;

  @include px425 {
    --width-header: 235px;
  }
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  font-family: $sans-serif;
}

.wrapper {
  min-height: 100vh;
}
