extends ../layout/main-template.pug

block vars
  - var pageTitle = "Jacob Jones";
  - var htmlClass = "page";
  - var bodyClass = "page__body";

block prepend styles
  meta(name="description", content="Jacob Jones is a product designer showcasing his work on his portfolio website. If you're looking for quality product design, then my portfolio site is what you need. Visit my site to learn more about my projects in product design.")
  link(rel="stylesheet", href="libs/css/splide.min.css")

block content
  include ../sections/_index-main.pug
  span.overlay.page__overlay

block prepend scripts
  script(src="libs/js/smooth-scroll.polyfills.min.js")
  script(src="libs/js/splide.min.js" defer)
