extends ../layout/main-template.pug

block vars
  - var pageTitle = "Jacob Jones";
  - var htmlClass = "page";
  - var bodyClass = "page__body";

block prepend styles
  link(rel="stylesheet", href="css/splide.min.css")

block content
  include ../sections/_index-main.pug

block prepend scripts
  script(src="js/splide.min.js" defer)
