.container {
  margin: 0 auto 0 84px;
  padding: 0 15px;
  max-width: 1266px;

  @include max-xxxl {
    margin: 0 auto;
  }

  @include max-xxl {
    margin: 0 auto;
    padding: 0 25px;
  }

  @include max-sm {
    padding: 0 15px;
    max-width: 600px;
  }
}
