.container {
  margin: 0 auto 0 84px;
  padding: 0 15px;
  max-width: 1266px;

  @include px2000 {
    margin: 0 auto;
  }

  @include px1680 {
    margin: 0 auto;
    padding: 0 25px;
  }

  @include px720 {
    padding: 0 15px;
    max-width: 600px;
  }
}
