$sans-serif: "IBM Plex Sans", "Helvetica", "Verdana", sans-serif;
$italic-font: "IBM Plex Sans Bold Italic", sans-serif;
$serif: "Times New Roman", "Georgia", "Baskerville", serif;
$color-white: #fff;
$color-black: #000;
$cod-gray: #141313;
$lavender: #b86adf;
$gradient: linear-gradient(273deg, #ffb147 0%, #ff6c63 50%, #b86adf 100%);
