header.site-header.page__site-header
  a.logo.site-header__logo
    img(src="img/logo.svg", width="57" height="26" alt="Jacob Jones website logo").logo__image
  nav.site-navigation.site-header__navigation
    ul.site-navigation__list
      +site-navigation(siteNavigation)
  .site-header__bottom
    ul.header-socials.site-header__socials
      +header-socials(headerSocials)
    p.site-header__copyright Copyright &copy;2023 Jacob Jones. All right reserved.


