.page__page-content
  include ../sections/_hero.pug
  include ../sections/_about.pug
  include ../sections/_services.pug
  include ../sections/_works.pug
  include ../sections/_blogs.pug
  //- include ../sections/_contact.pug
