section.services.fullsize#services
  .container.services__container
    .fullsize__container
      header.section-header.services__section-header
        h2.section-header__title Service
        p.section-header__subtitle My specialties
      ul.accordion
        li.accordion__item
          button(type="button" aria-expanded="false").accordion__button
            span Web Design
          div(aria-hidden="false").accordion__panel
            p You can customize a template or make your own from scratch, with an immersive library at your disposal. You can customize a template
            img(src="img/accordion-img.jpg", width="430" height="180" loading="lazy" alt="Web Design image")
        li.accordion__item
          button(type="button" aria-expanded="false").accordion__button
            span UI/UX Design
          div(aria-hidden="false").accordion__panel
            p You can customize a template or make your own from scratch, with an immersive library at your disposal. You can customize a template
            img(src="img/accordion-img.jpg", width="430" height="180" loading="lazy" alt="Web Design image")
        li.accordion__item
          button(type="button" aria-expanded="false").accordion__button
            span Mobile Application
          div(aria-hidden="false").accordion__panel
            p You can customize a template or make your own from scratch, with an immersive library at your disposal. You can customize a template
            img(src="img/accordion-img.jpg", width="430" height="180" loading="lazy" alt="Web Design image")
        li.accordion__item
          button(type="button" aria-expanded="false").accordion__button
            span User research
          div(aria-hidden="false").accordion__panel
            p You can customize a template or make your own from scratch, with an immersive library at your disposal. You can customize a template
            img(src="img/accordion-img.jpg", width="430" height="180" loading="lazy" alt="Web Design image")
