block vars
  - var pageTitle = "Main title";
  - var htmlClass = "";
  - var bodyClass = "";

block mixins
  include ../mixins/_site-navigation.pug
  include ../mixins/_header-socials.pug
  include ../mixins/_svg.pug
  include ../mixins/_work-items.pug

doctype html
html(lang="en" class= htmlClass)
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= pageTitle
    link(rel="shortcut icon" type="image/svg+xml" href="img/favicon.svg")
    link(rel="shortcut icon" type="image/png" href="img/favicon.png")
    block styles
      link(rel="preload", href="fonts/IBMPlexSansRegular.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/IBMPlexSansMedium.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/IBMPlexSansBold.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/IBMPlexSansSemiBoldItalic.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="preload", href="fonts/IBMPlexSansBoldItalic.woff2" as="font" type="font/woff2" crossorigin)
      link(rel="stylesheet", href="css/styles.min.css")
  body(class= bodyClass)
    button(type="button" class="burger-button page__burger-button" aria-label="Открыть меню")
      span.burger-button__line
    .wrapper
      include ../sections/_header.pug
      block content

    block scripts
      script(src="js/script.min.js" defer)
