.accordion {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding-left: 0;
}

.accordion__item {
  border-bottom: 1px solid rgba($cod-gray, 0.2);
}

.accordion__button {
  position: relative;
  border: none;
  padding: 33px 0;
  width: 100%;
  text-align: left;
  background-color: $color-white;
  cursor: pointer;

  @include px720 {
    padding: 20px 0;
  }
}

.accordion__button::before {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  display: block;
  border-radius: 1px;
  width: 26px;
  height: 2px;
  background-color: $cod-gray;
  transform: translateY(0);

  @include px720 {
    right: 15px;
  }

  @include px425 {
    right: 7px;
  }
}

.accordion__button::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 50%;
  display: block;
  border-radius: 1px;
  width: 26px;
  height: 2px;
  background-color: $cod-gray;
  transform: rotate(-90deg) translateY(0);
  transition: transform 0.3s ease;

  @include px720 {
    right: 15px;
  }

  @include px425 {
    right: 7px;
  }
}

.accordion__button--active::after {
  transform: rotate(0) translateY(0);
}

.accordion__button span {
  position: relative;
  display: inline-block;
  padding-left: 49px;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  color: $cod-gray;

  @include px720 {
    padding-right: 45px;
    padding-left: 32px;
    font-size: 26px;
    line-height: 40px;
  }

  @include px425 {
    padding-right: 45px;
    padding-left: 25px;
    font-size: 22px;
    line-height: 36px;
  }
}

.accordion__button span::before {
  content: "";
  position: absolute;
  left: 20px;
  top: 19px;
  border-radius: 4px;
  width: 10px;
  height: 10px;
  background-color: $cod-gray;

  @include px720 {
    left: 5px;
    top: 18px;
    border-radius: 2px;
    width: 6px;
    height: 6px;
  }

  @include px425 {
    top: 15px;
  }
}

.accordion__button--active span::before {
  background-color: $lavender;
}

.accordion__button--active span {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
  background-image: $gradient;
  background-clip: text;
}

.accordion__panel {
  overflow: hidden;
  margin-left: auto;
  padding: 0 15px;
  max-width: 660px;
  max-height: 0;
  transition: max-height 0.3s ease;

  @include px720 {
    margin-left: 0;
  }
}

.accordion__panel p {
  margin-top: 0;
  font-size: 16px;
  line-height: 28px;
  color: rgba($cod-gray, 0.8);
}

.accordion__panel img {
  display: block;
  margin-right: auto;
  height: 100%;
  max-width: 660px;
  object-fit: contain;

  @include px720 {
    width: 100%;
    max-width: none;
  }
}
