.blogs__container {
  display: flex;
  align-items: center;
  padding-top: 47px;
  padding-bottom: 120px;
  min-height: 100vh;

  @include max-xxl {
    padding: 47px 25px 120px;
  }

  @include max-sm {
    padding: 30px 15px;
  }
}

.blogs__inner-container {
  flex-grow: 1;
}

.blogs__section-header {
  margin-bottom: 48px;
}

.blogs__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  margin-right: -86px;
  padding: 0;

  @include max-xxl {
    justify-content: space-between;
    margin-right: -30px;
  }

  @include max-md {
    margin-right: -20px;
  }

  @include max-sm {
    margin-right: -10px;
    margin-bottom: 60px;
  }

  @include max-xs {
    justify-content: center;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.blogs__item {
  flex-basis: calc((100% - 86px * 3 - 50px) / 3);
  margin-right: 86px;
  margin-bottom: 86px;

  @include max-xxl {
    flex-basis: calc((100% - 30px * 3 - 50px) / 3);
    margin-right: 30px;
  }

  @include max-md {
    flex-basis: calc((100% - 20px * 3 - 30px) / 3);
    margin-right: 20px;
  }

  @include max-sm {
    flex-basis: calc((100% - 10px * 2 - 30px) / 2);
    margin-right: 10px;
  }

  @include max-xs {
    flex-basis: 315px;
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.blogs__button-wrapper {
  text-align: center;
}
