.burger-button {
  display: none;
  border: 2px solid $cod-gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  background-color: $color-white;
  transition: transform 0.3s ease;
  cursor: pointer;

  @include max-lg {
    display: block;
  }
}

.burger-button--active {
  transform: translateX(var(--width-header));

  &::before {
    z-index: -1;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }
}

.burger-button__line {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $cod-gray;
  transform: translate(-50%, -50%);
  transition: background-color 0.3s ease;
}

.burger-button__line::before {
  content: "";
  position: absolute;
  left: 0;
  top: -8px;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $cod-gray;
  transition:
    top 0.3s 0.3s ease,
    transform 0.3s ease;
}

.burger-button__line::after {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  display: block;
  width: 24px;
  height: 2px;
  background-color: $cod-gray;
  transition:
    top 0.3s 0.3s ease,
    transform 0.3s ease;
}

.burger-button--active .burger-button__line {
  background-color: transparent;
}

.burger-button--active .burger-button__line::before {
  top: 0;
  transform: rotate(45deg);
  transition:
    top 0.3s ease,
    transform 0.3s 0.3s ease;
}

.burger-button--active .burger-button__line::after {
  top: 0;
  transform: rotate(-45deg);
  transition:
    top 0.3s ease,
    transform 0.3s 0.3s ease;
}
