.button {
  display: inline-flex;
  align-items: center;
  border: 2px solid $cod-gray;
  padding: 14px 39px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: $color-white;
  background-color: $cod-gray;
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
  cursor: pointer;

  @include px425 {
    padding: 14px 29px;
  }

  @include hover-focus {
    color: $cod-gray;
    background-color: $color-white;
  }
}

.button--disabled {
  opacity: 0.5;
  cursor: default;
}

.button--transparent {
  border: 2px solid transparent;
  text-decoration: underline;
  color: $cod-gray;
  background-color: transparent;
  transition: border 0.3s ease;

  @include hover-focus {
    border: 2px solid $cod-gray;
  }
}

.button__icon-bg {
  display: block;
  margin-left: 8px;
  width: 24px;
  height: 24px;
  background: $gradient;
}

.button--transparent .button__icon-bg {
  background: $cod-gray;
}

.button__icon {
  fill: currentcolor;
}

.button--transparent .button__icon {
  fill: $color-white;
}
