.meta {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.meta__item {
  flex: 1 1 48%;
  margin-bottom: 40px;

  @include px425 {
    margin-bottom: 30px;
  }
}

.meta__item:nth-child(1n) {
  margin-right: 11px;

  @include px425 {
    margin-right: 0;
  }
}

.meta__text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "IBM Plex Sans Bold Italic", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  color: $cod-gray;
}

.meta__icon {
  position: relative;
  padding-left: 44px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-color: rgba($cod-gray, 0.05);
    transform: translateY(-50%);
  }
}

.meta__icon--phone::before {
  background-image: url("../img/telephone-ic.svg");
}

.meta__icon--email::before {
  background-image: url("../img/email-ic.svg");
}

.meta__icon--pin::before {
  background-image: url("../img/pin-ic.svg");
}

.meta__icon--contact::before {
  background-image: url("../img/contact-ic.svg");
}
