.page__site-header {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: var(--width-header);

  @include px1124 {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
}

.page__site-header--active {
  @include px1124 {
    transform: translateX(0);
  }
}

.page__burger-button {
  position: fixed;
  left: 25px;
  top: 34px;
  z-index: 150;

  @include px720 {
    left: 15px;
  }
}

.page__overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.page__page-content {
  margin-left: 300px;
  transition: transform 0.3s ease;

  @include px1124 {
    margin-left: 0;
  }
}
