.services__container {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;

  @include px1680 {
    padding: 60px 25px;
  }

  @include px720 {
    padding: 30px 15px;
  }
}

.services__section-header {
  margin-bottom: 14px;
}
