.site-header {
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 56px 48px 48px;
  background-color: $cod-gray;
}

.site-header__logo {
  margin-top: 8px;
}

.site-header__navigation {
  margin-top: 104px;
  margin-bottom: 30px;

  @include px425 {
    margin-top: 80px;
  }
}

.site-header__bottom {
  margin-top: auto;
}

.site-header__copyright {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
}
