.testimonial__container {
  padding: 100px 114px 48px;
  background-image: $gradient;

  @include max-xl {
    padding: 100px 40px 48px;
  }

  @include max-sm {
    padding: 100px 25px 48px;
  }

  @include max-xs {
    padding: 100px 15px 48px;
  }
}

.testimonial__section-header {
  margin-bottom: 48px;
}

.testimonial__slider {
  margin-bottom: 48px;

  @include max-md {
    margin-bottom: 30px;
  }
}
