.testimonial-slider {
  border-bottom: 1px solid $color-white;
}

.testimonial-slider__track {
  display: flex;
  flex-direction: column;
}

.testimonial-slider__buttons {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  order: 2;
  margin-top: -132px;
  width: 100%;

  &::before {
    content: "";
    flex: 0 0 345px;
    margin-right: 115px;
    width: 0;
    height: 1px;

    @include px1350 {
      margin-right: 50px;
    }

    @include px1124 {
      flex-grow: 1;
    }

    @include px920 {
      flex-basis: 46%;
      margin-top: -112px;
      margin-right: 50px;
    }

    @include px720 {
      display: none;
    }
  }

  @include px720 {
    order: 1;
    margin-top: 0;
  }
}

.testimonial-slider__inner-buttons {
  display: flex;
  flex: 0 3 545px;
  padding-bottom: 72px;

  @include px1124 {
    flex-grow: 1;
  }

  @include px720 {
    justify-content: flex-end;
    padding-bottom: 25px;
  }

  @include px425 {
    padding-bottom: 5px;
  }
}

.testimonial-slider__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: $color-white;
  transition: opacity 0.3s ease;
  cursor: pointer;

  @include px425 {
    width: 50px;
    height: 50px;
  }
}

.testimonial-slider__button:first-of-type {
  margin-right: 14px;
}

.testimonial-slider__button[disabled] {
  opacity: 0.5;
  cursor: default;
}

.testimonial-slider__prev-button .testimonial-slider__arrow {
  transform: scale(1);
}

.testimonial-slider__list {
  @include px720 {
    order: 2;
  }
}

.testimonial-slider__slide {
  display: flex;
  justify-content: center;
}

.testimonial-slider__row {
  display: flex;
  align-items: flex-end;

  @include px720 {
    flex-direction: column-reverse;
  }
}

.testimonial-slider__image-wrapper {
  flex-shrink: 0;
  margin-right: 115px;
  background-image: url("../img/testimonials-decor.png");
  background-position: 0 0;
  background-size: 235px 242px;
  background-repeat: no-repeat;

  @include px1350 {
    margin-right: 50px;
  }

  @include px920 {
    flex-basis: 46%;
  }

  @include px720 {
    flex-basis: auto;
    align-self: center;
    margin-right: 0;
    background-size: 70%;
  }
}

.testimonial-slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.testimonial-slider__blockquote {
  flex-shrink: 1;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 172px;
  max-width: 545px;

  @include px920 {
    padding-bottom: 150px;
  }

  @include px720 {
    padding-bottom: 22px;
  }
}

.testimonial-slider__text {
  margin-top: 0;
  margin-bottom: 42px;
  font-family: "IBM Plex Sans Italic", sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 32px;
  line-height: 40px;
  color: $color-white;

  &::before {
    content: "“";
  }

  &::after {
    content: "”";
  }

  @include px920 {
    font-size: 30px;
    line-height: 38px;
  }

  @include px720 {
    margin-bottom: 24px;
    font-size: 22px;
    line-height: 30px;
  }
}

.testimonial-slider__author {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 31px;
  color: $color-white;

  &::before {
    content: "-";
  }

  @include px720 {
    font-size: 20px;
    line-height: 27px;
  }
}

.testimonial-slider__position {
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: $color-white;
}
