.work-card {
  display: flex;
  justify-content: space-between;

  @include max-xxl {
    flex-direction: column-reverse;
  }
}

.work__item {
  margin-right: 56px;
  margin-bottom: 56px;

  @include max-xxl {
    flex-basis: calc((100% - 85px * 3 - 50px) / 3);
    margin-right: 35px;
    margin-bottom: 35px;
  }

  @include max-xl {
    flex-basis: calc((100% - 10px * 3 - 50px) / 3);
    margin-right: 10px;
  }

  @include max-sm {
    flex-basis: calc((100% - 10px * 2 - 20px) / 2);
  }

  @include max-xs {
    flex: 0 1 315px;
    margin-right: 0;
  }
}

.work__item:nth-child(n+5) {
  display: none;
}

.work__item.work__item--visible {
  display: block;
}

.work-card__text-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  max-width: 200px;

  @include max-xxl {
    margin-right: 0;
    padding-top: 15px;
    max-width: 315px;
  }
}

.work-card__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.work-card__title {
  position: relative;
  order: 2;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-transform: capitalize;
  color: $cod-gray;

  &::before {
    content: "";
    position: absolute;
    left: 12px;
    bottom: -74px;
    width: 38px;
    height: 38px;
    background-image: url("../img/black-arrow.svg");
    background-position: center;
    background-size: 38px;
    background-repeat: no-repeat;
    transition: transform 0.3s ease;

    @include max-xxl {
      bottom: 12px;
    }

    @include max-sm {
      width: 30px;
      height: 30px;
      background-size: 30px;
    }
  }

  @include max-xxl {
    padding-bottom: 88px;
  }

  @include max-xl {
    font-size: 30px;
    line-height: 30px;
  }

  @include max-md {
    font-size: 27px;
    line-height: 27px;
  }

  @include max-sm {
    padding-bottom: 80px;
  }
}

.work-card__tag {
  order: 1;
  margin-top: 0;
  margin-bottom: 16px;
  font-family: "IBM Plex Sans Italic", sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 24px;
  color: $cod-gray;
}
